.card{
    display: flex;
    width: 100%;
    &__front{
        background: #fff;
        min-height: 5rem;
        padding: 1.6em .9em 1.2em;
        width: 23em;
        border-radius: 5%;
        label{
            color: lighten(@black, 50%);
        }
    }
    &__number{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: .4em 3em 1.4em 0;
        input{
            width: 22%;
            
        }
    }
    &__term{
        margin-right: 3em;
        margin: .3em 3em .8em 0;
        .select{
            font-size: .9em;
            color: darken(@white, 70%);
            margin-right: .4em;
        }
    }
    &__name{
        .input{
            width: 100%;
        }
    }


    &__back{
        display: flex;
        justify-content: flex-end;
        margin-top: 2.7em;
        border-top: 2.8em solid #E4E9EE;
        width: 15.3em;
    }
    &__code{
        width: 55%;
        margin: 1.25em 1.3em 0 0;
        label{
            color: lighten(@black, 50%);
        }
        .input{
            width: 100%;
            margin: .3em 0 0 0;
        }
    }


    &__more{
        padding: 2.2em 0 1.2em;
    }

    @media(max-width: @mq) {
        &__number{
           margin-right: 2em;

        }
        &__front{
            width: 22em;   
        }
    }

    @media(max-width: @sq) {
        width: 22em;
        flex-wrap: wrap;
        align-items: flex-end;
        flex-direction: column;
        
        &__back{
            width: 100%;
            margin-top: 2em;
        }
    }
}