.nav{
    max-width: @qw;
    background: @blue--dark;
    min-width: 14em; 

    .trs;
    
    &__logo{
        min-height: 11.5em;
        padding: 4.5em 0 0 2em;
        .trs;
        @media(max-width: @md) {
            padding-left: 1.5em;
        }
    }

    &__hum{
        display: none;
        @media(max-width: @sm) {
            display: flex;
            margin-right: 1em;
        }
        @media(max-width: @sq) {
            margin-right: 0;
        }
    }

    &__top{
        @media(max-width: @sm) {
            display: flex;
            justify-content: space-between;
            align-items: center
        }
    }

    &__menu{
        list-style-type: none;
        font-family: @OpenSans--bold;
    }

    &__item{
        > a{
            .trs;
            display: block;
            padding: 1.35em;
            padding-left: 1.7em;
            font-size: 1.15em;
            @media(max-width: @md) {
                padding-left: 1.3em;
            }
        }
        &.active{
            background: @link__bg--active;
            > a{
                color: darken(@white, 40%);
            }
        }
    }

   
    @media(max-width: @mq) {
        max-width: 14em;
    }
    @media(max-width: @sm) {
        width: 100%;
        max-width: 100%;
        &__menu{
            display: none;
            &.active{
                display: block;
            }
        }
        &__logo{
            padding: 2em 1.5em 2em;
            min-height: auto;
        }
    }
    @media(max-width: @sq) {
        &__logo{
            padding-left: 1em;
        }
    }
}

.logo{
    text-transform: uppercase;
    font-size: 1.35em;
    letter-spacing: 1px;
    &__first{
        background: @purple;
        color: @blue--dark;
        padding: .3em .4em;
    }
    &__second{
        color: @purple;
        padding: .5em 0;
    }  
    a{
        &:hover{
            background: inherit;
        }
    } 
}