.page{
    background: @white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .trs;
    &__header{
        min-height: 11.5em;
        background: @blue;
        color: @text--dark;
        padding: 2.8em 2em 1.8em;
        &_title{
            font-size: 2.2em;
            margin-bottom: .4em;
        }
        &_text{
            font-size: 1em;
        }
    }
    &__main{
        padding: 3em 2em 2em;
    }
    &__info{
        margin-bottom: 1.3em;
        &_title{
            font-weight: normal;
        }
        &_table{
            margin: 1.8em 0 0;
        }
    }
    &__card{
        &_title{
            font-size: 1.3em;
            margin-bottom: 1.2em;
        }
    }
    &__footer{
        background: @grey;
        color: darken(@white, 35%);
        font-size: 1em;
        padding: 2em 2em 1em;
        p{
            padding: 0 0 .8rem;
        }
    }

    @media(max-width: @mq) {
        &__main{
            padding-right: 0;
        }
    }
    @media(max-width: @sq) {
        &__header, &__main, &__footer{
            padding-left: 1em;
        }
    }
}