<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
	<title>Document</title>
    <link rel="stylesheet" href="css/style.css">

    <script src="assets/vue.js"></script>
</head>
<body>

    <div id="wrapper" class="flex">

        <!-- Левый блок -->
        <nav class="nav flex__item">
            <div class="nav__top">
                <div class="nav__logo">
                    <p class="logo">
                        <a href="#">
                            <span class="logo__first">Chulakov</span>
                            <span class="logo__second">ru</span>
                        </a>
                    </p>
                </div>
                <div class=" nav__hum hum" 
                        v-on:click="menuShow" 
                        v-bind:class="{active: show}">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="nav__menu" v-bind:class="{active: show}">
                <li class="nav__item"><a href="#">Первая ссылка</a></li>
                <li class="nav__item active"><a href="#">Вторая ссылка</a></li>
                <li class="nav__item"><a href="#">Третья ссылка</a></li>
            </ul>
            <ul class="nav__menu login_form" v-bind:class="{active: show}">
                <li class="nav__item"><a href="#">Личный кабинет</a></li>
                <li class="nav__item"><a href="#">Выйти</a></li>
            </ul>
        </nav>
        <!-- Конец левого блока -->

        <!-- Основная часть -->
        <div class="page flex__item">
            <header class="page__header">
                <h1 class="page__header_title">Заголовок страницы</h1>
                <p class="page__header_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque tenetur et nihil modi? Debitis molestias distinctio, dolor officia sint totam.</p>
            </header>
            <div class="page__main">
                <div class="page__info">
                    <h4 class="page__info_title">Информация по оплате:</h4>
                    <table class="page__info_table table table__col_2">
                        <tr class="color_light">
                            <td>Номер счета:</td>
                            <td>846887286761</td>
                        </tr>
                        <tr>
                            <td>Сумма платежа:</td>
                            <td>100 руб.</td>
                        </tr>
                    </table>
                </div>
                <div class="page__card">
                    <div class="page__card_title">
                        <h3>Данные банковской карты</h3>
                    </div>

                    <!-- Банковская карта -->
                    <form 
                        id="card"
                        @submit="checkForm">
                        <div class="card">
                            <div class="card__front">
                                <label for="card__number_one">Номер карты</label>
                                <div class="card__number">
                                    <card-input 
                                        maxlength="4" 
                                        :maxlen=4 
                                        @enter-number="submitOne"></card-input>
                                    <card-input 
                                        maxlength="4" 
                                        :maxlen=4 
                                        @enter-number="submitTwo"></card-input>
                                    <card-input 
                                        maxlength="4" 
                                        :maxlen=4 
                                        @enter-number="submitThree"></card-input>
                                    <card-input 
                                        maxlength="4" 
                                        :maxlen=4 
                                        @enter-number="submitFour"></card-input>
                                </div>
    
                                <label for="card__term">Срок действия</label>
                                <div class="card__term">
                                    <select name="" id="card__term" class="select" v-model="date.month" required>
                                        <option 
                                            v-for="item in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]" 
                                            :value=item
                                        >{{item}}</option>
                                    </select>
                                    <select name="" class="select" v-model="date.year" required>
                                        <option  
                                            v-for="item in [2022, 2021, 2020, 2019, 2018]" 
                                            :value=item
                                        >{{item}}</option>
                                    </select>
                                </div>   
                                <div class="card__name">
                                    <name-input @enter-cardholder="submitName"></name-input>
                                </div> 
                            </div>
                            <div class="card__back">
                                <div class="card__code">
                                    <label for="card__code" class="label">Код CVV / CVV2</label>
                                    <card-input 
                                        maxlength="3" 
                                        :maxlen=3
                                        @enter-number="submitCode"></card-input>
                                    </div>
                            </div>
                        </div>
                        <div class="card__more">
                            <button class="btn  btn--green card__btn" type="submit" v-on:click="submit()" >Оплатить</button>
                        </div>
                    </form>
                    <!-- Конец банковской карты -->
                </div>
            </div>

            <!-- Подвал сайта -->
            <footer class="page__footer">
                <p>Nulla, quasi itaque! Blanditiis officia pariatur aliquam esse ullam libero quod corrupti hic aperiam, omnis natus, ipsum rem magni molestiae beatae necessitatibus.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita illum eveniet odit sint officiis</p>
                <p>Culpa, vel dolor! Cum dolore earum debitis amet suscipit, sunt itaque exercitationem consequatur voluptatibus atque, maiores reiciendis. Ullam consectetur enim et quo!</p>
            </footer>
            <!-- Конец подвала сайта -->

        </div>
        <!-- Конец основной части -->
    </div>

    <script src="js/page.js"></script>
</body>
</html>